<%= form_tag sessions_path, class: 'form-signin' do %>
	<h2 class="form-signin-heading">Please sign in</h2>
  <div class="field">
    <%= text_field_tag :email, params[:email], placeholder: "Email address" %>
  </div>
  <div class="field">
    <%= password_field_tag :password %>
  </div>
  <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
  <button class="btn btn-large btn-primary" type="submit">Sign in</button>
<% end %>