/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#sidebar {
	background-color: #3498DB;
}

.product_block {
	background-color: #1ABC9C;
	overflow: hidden;
	padding: 2%;
	margin-bottom: 2%;
}

.product_block .alternative_color {
	background-color: #1ABC9C;
}

.product_block > img {
	/*margin-top: 10px;*/
	/*margin-left: 10px;*/
}