<div class="span4 product_block">
	<img src="/1.png" class="img-rounded">
	<h6><b>MacBook Pro Retina 13"</b> - Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.</h6>
	<i class="icon-star">UnMAPed 33 times</i>
</div>